{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endif %}
    <div class="character">
        <h1 style="margin-top: -10px"><a href="{% url 'character_detail' id_character=character.id_character %}">{{ character.id_character }}</a></h1>
        <p style="font-family: 'Barlow Semi Condensed'; font-size: 16px;">Race : {{ character.race }}</p>
        <p style="font-family: 'Barlow Semi Condensed'; font-size: 16px;">État : {{ character.etat }}</p>
        <p style="font-family: 'Barlow Semi Condensed'; font-size: 16px;">Lieu : {{ character.lieu|linebreaksbr }}</p>
        <img src="{% static 'img/' %}{{ character.photo }}.jpg" alt="{{ character.id_character }}" style="width: 300px; height: 300px;">
        <form method="POST" class="post-form">{% csrf_token %}
            <u> Changer : </u> {{ form.as_ul }}
            <button type="submit" class="btn btn-outline-light">OK</button>
            <a href="{% url 'character_list' %}">Back</a>
        </form>
    </div>
{% endblock %}